/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
p{
	font-size: 13px;
	margin:33px;
}
td, th{
	padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
}

body{
	margin: 33px;
}
.root-head{
	font-size: 26px;
}
.new-TopHead{
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.new-head, .edit-head{
	font-size: 13px;
}
.show-text{
	font-size: 13px;
}
.book_create, .book_update{
	display: block;
}